html, body {
    background-color: darkslategrey;
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;

    height: 100%;
    margin: 0;
    padding: 0;
}

.logoheader image {
    float: left;
}

.logoheader h1 {
    color: #ffffff;
    margin-top: -70px;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
}

.logoheader {
    background-image: linear-gradient(white, rgba(255,5,0,0));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 100%;
}

.buttonsWrapper {
    text-align: center;
}

.buttons {
    padding: 0.3em 1.2em;
    margin: .5em 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    
    transition: all 0.2s;

    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {outline:0;}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

#startButton {
    background-color: green;
    float: left;
    margin-left: 10%;
    
}

#stopButton {
    background-color: #db1837;
    margin-left: -35%;
}

.buttons:hover {
    cursor: pointer;
    border-color: lightgray;
}

#stopButton:hover {
    background-color: red;
}

#startButton:hover {
    background-color: #69d11f;
}

#startButton:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

#stopButton:active {
    vertical-align: top;
    padding: 8px 13px 6px;
}

#stopButton:focus {
    border-color: lightgray;
}

#startButton:focus {
    border-color: lightgray;
}

@media all and (max-width: 30em){
    .buttons {
        display: block;
        margin: 0.2em auto;
    }
}
.headerSensor {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;

    padding: 5px;

    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
    
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 25px;
    border: 2px solid white;
    width: auto;
    height: auto;
    
    margin-top: 0.7%;
}

.unit {
    padding-right: 5%;
    margin-top: -10%;
    float: right;
    font-size: 80%;
    color: #db1837;

    font-family: sans-serif;
    font-weight: normal;
}

.sensor {
    text-align: center;
    
    font-weight: bold;
    font-size: 3vw;
    color:#479b0f;
    font-family: 'Roboto', sans-serif;
    line-height: 170%;
}

.sensors {
    display: grid;
    margin-top: -2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;

    grid-auto-rows: minmax(100%, auto);
    padding: 1%;   
}

.refreshTimeC {
    transform: translate(0px, 25px);
}

.options {
    margin-top: -40px;
    margin-right: 10%;
    float: right;
}

.optionsButton {
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;

    color: white;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: .75em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    
    transition: all 0.2s;

    font-size: 130%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.optionsButton:hover {
    cursor: pointer;
    border-color: lightblue;
}

.optionsButton:active {
    vertical-align: top;
    padding: 8px;
}

.optionsButton:focus {
    border-color: lightgray;
}



#temp {
    background: rgb(28, 100, 65);
}

#dist, #model {
    background: rgb(20, 100, 200); 
}

#speed {
    background: rgb(203, 117, 20);
}


#timeInput {
    height: 26px;
    width: 25%;
    margin-left: 15px;
    
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
	border: none;
	border-radius: 2px;
	
    background: white;
	outline: 0;
	box-sizing: border-box; 
    color: black;
}

#timeInput:hover {
    background: lightgrey;
}

#refreshTitle {
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
    padding: 10px;
    float: left;
    width: 25%;
    margin-left: 2.5%;
    font-family: sans-serif;
}


.title {
    background:  linear-gradient(45deg, rgba(212,255,196,1) 0%, rgba(0,128,128,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}
.sensors > div {
    color: black;
    background: lightgray;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myChart {
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    vertical-align: middle;
    
}

#errorDiv {
    display: none;
    padding-top: .1pt;
    padding-bottom: .1pt;

    text-align: center;
    color: white;
   
    box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

#errorTitle {
    color: red;
}